.c-bg-image{
  background-image: url("../images/space.jpg");
  background-repeat: repeat;
}

// .c-basicsite-stuff{
//   height: 100vh;
//   width: 100%;
// }

.c-page-content__title{
  color: white;
  margin-left: 20px;
}
//
// .c-nav {
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   background-size: auto 100%;
//   background-repeat: no-repeat;
// }


// .c-nav-header {
//   // position: fixed;
//   // top: 0;
//   background-size: 100% auto;
//   // background-position: center;
//   // background-size: contain;
//   background-repeat: no-repeat;
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }
